<h1 class="mt-4">Administration</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>
<p>Current Active Sessions:</p>

<% for (const key in sessions) { %>
<div style="margin-top: 24px;">
    <div>SessionID: <%=key%></div>
    <div>UserID: <%=sessions[key].passport.user%></div>
    <div><a href="/admin/revoke/<%=key%>">Revoke Session</a></div>
</div>
<% } %>
